@charset "UTF-8";

.user_buttons{
    width: 80px;
    height: 30px;
    border: none;
    font-family: Verdana, Montserrat, Arial;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    background-color: #4a87ce;
    transition: 0.3s;
    border-radius: 3px;
}

.user_buttons:hover{
    filter: saturate(60%) brightness(150%);
    text-decoration: underline;
    cursor: pointer;
    border-radius: 3px;
}

input[type=submit] {
    background-color: #cd4242;
    font-size: 16px;
    color: #FFFFFF;
    border: 0 none;
    height: 40px;
    width: auto;
    transition: 0.3s;
    border-radius: 3px;
    disabled: true;
}

input[type=submit]:hover {
    filter: saturate(60%) brightness(150%);
    text-decoration: underline;
    cursor: pointer;
}

input[type=submit]:disabled {
    filter: brightness(50%);
    text-decoration: none;
}